<html>
	<head>
		<title>Resume</title>

<%= wicked_pdf_stylesheet_link_tag "application" %>
<%= wicked_pdf_javascript_include_tag "template" %>



</head>
	<body>
		


			<div class="container main">
				<div class="row header">
					<div class="span3 addRecord">
						<div class="name-bg">
						</div>
					</div>
					<div class="span9">
						<div class="head">
							<span class="name">Nandakumar K</span>
							<span class="email">nandhakumar.kathiravan@yahoo.com</span>
						</div>
					</div>
				</div>
				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Objective</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-objective" title="Move Up"></span>
								<span class="icon-arrow-down down-objective" title="Move Down"></span>
								<span class="icon-plus-sign add-objective" title="Add New"></span>
								<span class="icon-remove-sign remove-objective" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8 objective">
						<div class="row">
							<div class="content editable">
								To pursue a challenging career in marketing that will enable me to make significant contribution and grow hand in hand with the company.
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Education</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-education" title="Move Up"></span>
								<span class="icon-arrow-down down-education" title="Move Down"></span>
								<span class="icon-plus-sign add-education" title="Add New"></span>
								<span class="icon-remove-sign remove-education" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row">
							<div class="content">
								<ul class="education edu-list">
									<li>
										<span class="highlight editable">MBA Marketing and Human Resource</span>
										<span class="editable">April 2011 - May 2013-Present.</span>
										<span class="editable">Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
									</li>
									<li>
										<span class="highlight editable">Bachelor of Business Administration</span>
										<span class="when editable">May 2008 - May 2011.</span>
										<span class="editable">Completed my BBA in VIT University with a CGPA of 7.23.</span>
									</li>
									<li>
										<span class="highlight editable">Higher Secondary School Leaving Examination</span>
										<span class="when editable">July 2007 - April 2008.</span>
										<span class="editable">Completed my 12th standard in ACS Matriculation Higher Secondary School and secured 74.1%.</span>
									</li>
									<li>
										<span class="highlight editable">10th standard</span>
										<span class="editable">July 2005 - May 2006.</span>
										<span class="editable">Completed my 10th standard in ACS Matriculation Higher Secondary School and secured 70%.</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Project</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-project" title="Move Up"></span>
								<span class="icon-arrow-down down-project" title="Move Down"></span>
								<span class="icon-plus-sign add-project" title="Add New"></span>
								<span class="icon-remove-sign remove-project" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8 border-left project">
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Name of the Organisation</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">IDBI FEDERAL LIFE INSURANCE COMPANY, CHENNAI.</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Duration</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">6 Weeks.</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Project Title</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">"Customer Satisfaction".</span>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Internship</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-internship" title="Move Up"></span>
								<span class="icon-arrow-down down-internship" title="Move Down"></span>
								<span class="icon-plus-sign add-internship" title="Add New"></span>
								<span class="icon-remove-sign remove-internship" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8 border-left internship">
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Name of the Organisation</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">TVS BRAKES INDIA LIMITED, PADI, CHENNAI.</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Duration</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">1 Month.</span>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Achievements &amp; Extra Curricular Activities</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-activities" title="Move Up"></span>
								<span class="icon-arrow-down down-activities" title="Move Down"></span>
								<span class="icon-plus-sign add-activities" title="Add New"></span>
								<span class="icon-remove-sign remove-activities" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row">
							<div class="content ">
								<ul class="stylish activities">
									<li>
										<span class="editable">Won district level cricket match for the school team.</span>
									</li>
									<li>
										<span class="editable">Participated and won several Medals at the Zonal and district level.</span>
									</li>
									<li>
										<span class="editable">Worked as a committee manager for cricket 30-40 at Invictus 2012.</span>
									</li>
									<li>
										<span class="editable">Worked as a committee manager for Marketing & Publicity at Gravitas 2012.</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Skills</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-skills" title="Move Up"></span>
								<span class="icon-arrow-down down-skills" title="Move Down"></span>
								<span class="icon-plus-sign add-skills" title="Add New"></span>
								<span class="icon-remove-sign remove-skills" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row">
							<div class="content">
								<ul class="stylish skills">
									<li>
										<span class="editable">Love to work with people around.</span>
									</li>
									<li>
										<span class="editable">Listen to and respect other ideas.</span>
									</li>
									<li>
										<span class="editable">Self motivated and ability to motivate others.</span>
									</li>
									<li>
										<span class="editable">Passionate about applying my innovative ideas in my profession.</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Hobbies</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-hobbies" title="Move Up"></span>
								<span class="icon-arrow-down down-hobbies" title="Move Down"></span>
								<span class="icon-plus-sign add-hobbies" title="Add New"></span>
								<span class="icon-remove-sign remove-hobbies" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row">
							<div class="content">
								<ul class="stylish hobbies">
									<li>
										<span class="editable">Athletics, shuttle cork, volley ball and cricket.</span>
									</li>
									<li>
										<span class="editable">Reading books, Travelling, Surfing, Listening to music.</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

				<div class="row records">
					<div class="span3 add">
						<div class="row">
							<div class="span3"><span class="title editable">Personal Information</span></div>
							<div class="toShow">
								<span class="icon-arrow-up up-personal" title="Move Up"></span>
								<span class="icon-arrow-down down-personal" title="Move Down"></span>
								<span class="icon-plus-sign add-personal" title="Add New"></span>
								<span class="icon-remove-sign remove-personal" title="Remove Last"></span>
							</div>
						</div>
					</div>
					<div class="span8 border-left personal">
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Father's Name</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">T. E. Kathiravan</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Date of Birth</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">21/12/1990</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Gender</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">Male</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Gender</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">Male</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Gender</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">Male</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Languages Known</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">Tamil, English</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Permanent Address</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">No 65, CPM Street, Kosapalayam, Arni, Tiruvannamalai District.</span>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<span class="highlight editable">Mobile Number</span>
							</div>
								<span class="span1"> - </span>
							<div class="span4">
								<span class="editable">9500667737</span>
							</div>
						</div>
					</div>
					<div class="hide this_record">x</div>
				</div>

			</div>
		</body>
	</html>
