  <link rel="stylesheet" type="text/css" href="/templates/nandu/css/custom.css">
  <link rel="stylesheet" href="/templates/nandu/css/bootstrap-colorpicker.css" type="text/css">
  <script src="/templates/nandu/js/bootstrap-colorpicker.js"></script>
  <script src="/templates/nandu/js/colorpicker-app.js"></script>
  <script src="/templates/nandu/js/custom.js"></script>
    <div class="selectionPlace">
      <select class="addType">
        <option value=""> -- Select Style -- </option>
        <option value="Objective">Objective Style</option>
        <option value="Education">Education Style</option>
        <option value="Project">Project Style</option>
        <option value="Skills">Skills Style</option>
      </select>
      <button class="addRow btn btn-default">Add</button>
          <a href="#" class="btn small bscp" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)" data-colorpicker-guid="4">Change Text color</a>
    </div>
  <div id="template_content">

  <% if @cv %>
    <%=raw URI.unescape(@cv.content)%>
  <% else %>
    <div class="container main">
        <div class="row header">
          <div class="span3 addRecord">
            <div class="name-bg">
            </div>
          </div>
          <div class="span9">
            <div class="head">
              <span class="name">Nandakumar K</span>
              <span class="email">nandhakumar.kathiravan@yahoo.com</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Objective</span></div>
              <!-- <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-objective" title="Add New"></span>
                <span class="icon-remove-sign remove-objective" title="Remove Last"></span>
              </div> -->
            </div>
          </div>
          <div class="span8 objective">
            <div class="row" data-mercury="full">
              <div class="content">To pursue a challenging career in marketing that will enable me to make significant contribution and grow hand in hand with the company.</div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records first">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Education</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-education" title="Add New"></span>
                <span class="icon-remove-sign remove-education" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" data-mercury="full">
                <ul class="education edu-list">
                  <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                   <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                   <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                   <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                   <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                   <li>
                    <span class="highlight">MBA Marketing and Human Resource</span>
                    <span>April 2011 - May 2013-Present.</span>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                  <li>
                    <span class="highlight">Bachelor of Business Administration</span>
                    <span class="when">May 2008 - May 2011.</span>
                    <span>Completed my BBA in VIT University with a CGPA of 7.23.</span>
                  </li>
                  <li>
                    <span class="highlight">Higher Secondary School Leaving Examination</span>
                    <span class="when">July 2007 - April 2008.</span>
                    <span>Completed my 12th standard in ACS Matriculation Higher Secondary School and secured 74.1%.</span>
                  </li>
                  <li>
                    <span class="highlight">10th standard</span>
                    <span>July 2005 - May 2006.</span>
                    <span>Completed my 10th standard in ACS Matriculation Higher Secondary School and secured 70%.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Project</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-project" title="Add New"></span>
                <span class="icon-remove-sign remove-project" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left project" data-mercury="full">
            <div class="row">
              <div class="span3">
                <span class="highlight">Name of the Organisation</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>IDBI FEDERAL LIFE INSURANCE COMPANY, CHENNAI.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Duration</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>6 Weeks.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Project Title</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>"Customer Satisfaction".</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Internship</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-internship" title="Add New"></span>
                <span class="icon-remove-sign remove-internship" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left internship" data-mercury="full">
            <div class="row">
              <div class="span3">
                <span class="highlight">Name of the Organisation</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>TVS BRAKES INDIA LIMITED, PADI, CHENNAI.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Duration</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>1 Month.</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Achievements &amp; Extra Curricular Activities</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-activities" title="Add New"></span>
                <span class="icon-remove-sign remove-activities" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row" data-mercury="full">
              <div class="content">
                <ul class="activities">
                  <li>
                    Won district level cricket match for the school team.
                  </li>
                  <li>
                    Participated and won several Medals at the Zonal and district level.
                  </li>
                  <li>
                    Worked as a committee manager for cricket 30-40 at Invictus 2012.
                  </li>
                  <li>
                    Worked as a committee manager for Marketing & Publicity at Gravitas 20
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Skills</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-skills" title="Add New"></span>
                <span class="icon-remove-sign remove-skills" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" data-mercury="full">
                <ul class="skills">
                  <li>
                    Love to work with people around.
                  </li>
                  <li>
                    Listen to and respect other ideas.
                  </li>
                  <li>
                    Self motivated and ability to motivate others.
                  </li>
                  <li>
                    Passionate about applying my innovative ideas in my profession.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Hobbies</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-hobbies" title="Add New"></span>
                <span class="icon-remove-sign remove-hobbies" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" data-mercury="full">
                <ul class="hobbies">
                  <li>
                    Athletics, shuttle cork, volley ball and cricket.
                  </li>
                  <li>
                    Reading books, Travelling, Surfing, Listening to music.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records last">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Personal Information</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-personal" title="Add New"></span>
                <span class="icon-remove-sign remove-personal" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left personal" data-mercury="full">
            <div class="row">
              <div class="span3">
                <span class="highlight">Father's Name</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>T. E. Kathiravan</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Date of Birth</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>21/12/1990</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Gender</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>Male</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Languages Known</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>Tamil, English</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Permanent Address</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>No 65, CPM Street, Kosapalayam, Arni, Tiruvannamalai District.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight">Mobile Number</span>
              </div>
                <span class="span1"> - </span>
              <div class="span4">
                <span>9500667737</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>
    </div>
  <% end %>
  </div>