  <link rel="stylesheet" type="text/css" href="/templates/nandu/css/custom.css">
  <link rel="stylesheet" href="/templates/css/bootstrap-colorpicker.css" type="text/css">
  <script src="/templates/js/bootstrap-colorpicker.js"></script>
  <script src="/templates/nandu/js/custom.js"></script>
  <div class="settings">
    <label id="themeSettings" class="btn btn-danger" >Add New Widgets</label>
    <label id="getPdf" class="btn btn-success" >Get PDF</label>
    <div class="hide selectionPlace">
      <div class="setting-arrow-up"></div>
      <ul class="settings_styles">
        <li><a><p><img src="/templates/nandu/img/style1x.jpg"></p><p class="setting-text">Objective</p></a></li>
        <li><a><p><img src="/templates/nandu/img/style2x.jpg"></p><p class="setting-text">Education</p></a></li>
        <li><a><p><img src="/templates/nandu/img/style3x.jpg"></p><p class="setting-text">Project</p></a></li>
        <li><a><p><img src="/templates/nandu/img/style4x.jpg"></p><p class="setting-text">Skills</p></a></li>


      </ul>
      <a href="#" class="btn btn-default" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)" data-colorpicker-guid="4">Change Text color</a>
    </div>
  </div>

  <div id="template_content">

    <% if @cv %>
    <%=raw URI.unescape(@cv.content)%>
    <% else %>
    <div class="container main">
      <div class="row header">
        <div class="span3 addRecord">
          <div class="name-bg">
          </div>
        </div>
        <div class="span9">
          <div class="head">
            <span class="name" data-mercury="full">Nandakumar K</span>
            <span class="email" data-mercury="full">nandhakumar.kathiravan@yahoo.com</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span3 add">
          <div class="row">
            <div class="span3"><span class="title" data-mercury="full">Objective</span></div>
              <!-- <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-objective" title="Add New"></span>
                <span class="icon-remove-sign remove-objective" title="Remove Last"></span>
              </div> -->
            </div>
          </div>
          <div class="span8 objective">
            <div class="row" data-mercury="full">
              <div class="content">To pursue a challenging career in marketing that will enable me to make significant contribution and grow hand in hand with the company.</div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records first">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Education</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-education" title="Add New"></span>
                <span class="icon-remove-sign remove-education" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" >
                <ul class="education edu-list">
                  <li>
                    <span data-mercury="full" class="highlight">MBA Marketing and Human Resource</span>
                    <span data-mercury="full">April 2011 - May 2013-Present.<br>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                  <li>
                    <span data-mercury="full" class="highlight">MBA Marketing and Human Resource</span>
                    <span data-mercury="full">April 2011 - May 2013-Present.<br>
                    <span>Currently pursuing my MBA in VIT University with a CGPA of 7.1.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Project</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-project" title="Add New"></span>
                <span class="icon-remove-sign remove-project" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left project" >
            <div class="row">
              <div class="span3">
                <span class="highlight" data-mercury="full">Name of the Organisation</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4" data-mercury="full">
                <span data-mercury="full">IDBI FEDERAL LIFE INSURANCE COMPANY, CHENNAI.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight" data-mercury="full">Duration</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">6 Weeks.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span class="highlight" data-mercury="full">Project Title</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">"Customer Satisfaction".</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Internship</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-internship" title="Add New"></span>
                <span class="icon-remove-sign remove-internship" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left internship" >
            <div class="row">
              <div class="span3">
                <span class="highlight data-mercury="full"">Name of the Organisation</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">TVS BRAKES INDIA LIMITED, PADI, CHENNAI.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Duration</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">1 Month.</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Achievements &amp; Extra Curricular Activities</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row" data-mercury="full">
              <div class="content">
                <p>Won district level cricket match for the school team.</p>
                <p>Participated and won several Medals at the Zonal and district level.</p>
                <p>Worked as a committee manager for cricket 30-40 at Invictus 2012.</p>
                <p>Worked as a committee manager for Marketing & Publicity at Gravitas 20</p>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Skills</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" data-mercury="full">
                <p>Love to work with people around.</p>
                <p>Listen to and respect other ideas.</p>
                <p>Self motivated and ability to motivate others.</p>
                <p>Passionate about applying my innovative ideas in my profession.</p>
             </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Hobbies</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="content" data-mercury="full">
                <p>Athletics, shuttle cork, volley ball and cricket.</p>
                <p>Reading books, Travelling, Surfing, Listening to music.</p>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>

        <div class="row records last">
          <div class="span3 add">
            <div class="row">
              <div class="span3"><span class="title" data-mercury="full">Personal Information</span></div>
              <div class="toShow">
                <span class="icon-arrow-up up-records" title="Move Up"></span>
                <span class="icon-arrow-down down-records" title="Move Down"></span>
                <span class="icon-plus-sign add-personal" title="Add New"></span>
                <span class="icon-remove-sign remove-personal" title="Remove Last"></span>
              </div>
            </div>
          </div>
          <div class="span8 border-left personal">
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Father's Name</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">T. E. Kathiravan</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Date of Birth</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">21/12/1990</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Gender</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">Male</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Languages Known</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">Tamil, English</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Permanent Address</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">No 65, CPM Street, Kosapalayam, Arni, Tiruvannamalai District.</span>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <span data-mercury="full" class="highlight">Mobile Number</span>
              </div>
              <span class="span1"> - </span>
              <div class="span4">
                <span data-mercury="full">9500667737</span>
              </div>
            </div>
          </div>
          <div class="hide this_record">x</div>
        </div>
      </div>
      <% end %>
    </div>