/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #admin_nav{
 	border-radius: 5px;
	min-height: 165px;
	background: rgba(179, 229, 248, 0.83);
	padding: 0px 0px 0px 0px;
	text-align: center;
}

#admin_nav_header{
background-color: rgba(9, 94, 111, 0.75);	
height: 40px;
padding: 0px;
font-weight: bold;
color: #fff;
-webkit-text-shadow: #1f1f1f -1px -1px;
-moz-text-shadow: #1f1f1f -1px -1px;
text-shadow: #1f1f1f -1px -1px;
-webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.08);
box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.08);
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}

#admin_nav_body{
	padding-top: 15px
}

.big_button{
	display: inline-block;
padding: 5px;
margin: 25px 14px 15px 14px;
font-size: 14px;
font-weight: bold;
color: #8E9FA9;
text-transform: uppercase;
border: 1px solid #cccece;
height: 60px;
text-align: center;
background-color: #f8f8f8;
letter-spacing: -0.06em;
-webkit-text-shadow: #ffffff 1px 1px;
moz-text-shadow: #ffffff 1px 1px;
text-shadow: #ffffff 1px 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.03);
-moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.03);
box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.03);
}
#add_student{
background: url(/assets/colleges/icon_big_user_add.png) 0px 0px no-repeat;
display: block;
height: 100%;
text-align: center;
width: 100%;
}
#add_student:hover{
background: url(/assets/colleges/icon_big_user_add.png) 0px -116px no-repeat;
}

#add_def_pwd{
background: url(/assets/colleges/icon_big_pen.png) 0px 0px no-repeat;
display: block;
height: 100%;
text-align: center;
width: 100%;
}
#add_def_pwd:hover{
background: url(/assets/colleges/icon_big_pen.png) 0px -116px no-repeat;
}

#add_csv_upload{
background: url(/assets/colleges/icon_big_pictures.png) 0px 0px no-repeat;
display: block;
height: 100%;
text-align: center;
width: 100%;
}
#add_csv_upload:hover{
background: url(/assets/colleges/icon_big_pictures.png) 0px -116px no-repeat;
}

#add_subscription{
background: url(/assets/colleges/icon_big_support.png) 0px 0px no-repeat;
display: block;
height: 100%;
text-align: center;
width: 100%;
}
#add_subscription:hover{
background: url(/assets/colleges/icon_big_support.png) 0px -116px no-repeat;
}