<ul class="nav">
  <% if college_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_college_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_college_session_path %>
    </li>
  <% end %>
  <% if college_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_college_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_college_registration_path %>
    </li>
  <% end %>
</ul>