<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <title>Mercury Editor</title>
    <%= stylesheet_link_tag    "templates/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "templates/application", "data-turbolinks-track" => true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>